{#-
Adapted from https://github.com/adrienbrignon/mkdocs-exporter/blob/0d4eae0c1920ecffe87d66b7f404c13ff7cdea47/resources/templates/covers/back.html.j2

MIT License
Copyright (c) 2023 Adrien Brignon
-#}
<style data-teleport="head">
  @page last {
    background: var(--ft-sticker-bg-color);
    --page-margin-text-color: var(--cover-text-color);

    @top-center {
      content: none;
    }

    @bottom-center {
      content: none;
    }
  }
</style>
<div class="back-cover limits-cover">
  <img class="pdf-background" src="{{ config.extra.site_file_proto_root }}/assets/images/background.png">
  <section>
    <div class="brand-name">{{ config.site_name }}</div>
    <div class="pdf-date">{{ config.extra.pdf_date }}</div>
  </section>
</div>
